node_modules
dist
.wrangler
.dev.vars

# Change them to your taste:
wrangler.toml
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

dist/
dev.db
dev.db-journal

# Keep environment variables out of version control
.env